# Warning: This file is generated automatically, and should not be modified.
# Instead, please modify the template in the pr-checks directory and run:
#     (cd pr-checks; pip install ruamel.yaml@0.17.31 && python3 sync.py)
# to regenerate this file.

name: PR Check - Extractor ram and threads options test
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GO111MODULE: auto
on:
  push:
    branches:
    - main
    - releases/v*
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - ready_for_review
  workflow_dispatch: {}
jobs:
  extractor-ram-threads:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          version: latest
    name: Extractor ram and threads options test
    permissions:
      contents: read
      security-events: write
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup Python on MacOS
      uses: actions/setup-python@v5
      if: >-
        matrix.os == 'macos-latest' && (

        matrix.version == 'stable-20221211' ||

        matrix.version == 'stable-20230418' ||

        matrix.version == 'stable-v2.13.5' ||

        matrix.version == 'stable-v2.14.6')
      with:
        python-version: '3.11'
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Prepare test
      id: prepare-test
      uses: ./.github/actions/prepare-test
      with:
        version: ${{ matrix.version }}
        use-all-platform-bundle: 'false'
        setup-kotlin: true
    - name: Set environment variable for Swift enablement
      if: runner.os != 'Windows' && matrix.version == '20221211'
      shell: bash
      run: echo "CODEQL_ENABLE_EXPERIMENTAL_FEATURES_SWIFT=true" >> $GITHUB_ENV
    - uses: ./../action/init
      with:
        languages: java
        ram: 230
        threads: 1
    - name: Assert Results
      shell: bash
      run: |
        if [ "${CODEQL_RAM}" != "230" ]; then
          echo "CODEQL_RAM is '${CODEQL_RAM}' instead of 230"
          exit 1
        fi
        if [ "${CODEQL_EXTRACTOR_JAVA_RAM}" != "230" ]; then
          echo "CODEQL_EXTRACTOR_JAVA_RAM is '${CODEQL_EXTRACTOR_JAVA_RAM}' instead of 230"
          exit 1
        fi
        if [ "${CODEQL_THREADS}" != "1" ]; then
          echo "CODEQL_THREADS is '${CODEQL_THREADS}' instead of 1"
          exit 1
        fi
        if [ "${CODEQL_EXTRACTOR_JAVA_THREADS}" != "1" ]; then
          echo "CODEQL_EXTRACTOR_JAVA_THREADS is '${CODEQL_EXTRACTOR_JAVA_THREADS}' instead of 1"
          exit 1
        fi
    env:
      CODEQL_ACTION_TEST_MODE: true
