# Warning: This file is generated automatically, and should not be modified.
# Instead, please modify the template in the pr-checks directory and run:
#     pr-checks/sync.sh
# to regenerate this file.

name: PR Check - Multi-language repository
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GO111MODULE: auto
on:
  push:
    branches:
      - main
      - releases/v*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
    inputs:
      go-version:
        type: string
        description: The version of Go to install
        required: false
        default: '>=1.21.0'
      python-version:
        type: string
        description: The version of Python to install
        required: false
        default: '3.13'
  workflow_call:
    inputs:
      go-version:
        type: string
        description: The version of Go to install
        required: false
        default: '>=1.21.0'
      python-version:
        type: string
        description: The version of Python to install
        required: false
        default: '3.13'
defaults:
  run:
    shell: bash
concurrency:
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  multi-language-autodetect:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            version: stable-v2.17.6
          - os: ubuntu-latest
            version: stable-v2.17.6
          - os: macos-latest
            version: stable-v2.18.4
          - os: ubuntu-latest
            version: stable-v2.18.4
          - os: macos-latest
            version: stable-v2.19.4
          - os: ubuntu-latest
            version: stable-v2.19.4
          - os: macos-latest
            version: stable-v2.20.7
          - os: ubuntu-latest
            version: stable-v2.20.7
          - os: macos-latest
            version: stable-v2.21.4
          - os: ubuntu-latest
            version: stable-v2.21.4
          - os: macos-latest
            version: stable-v2.22.4
          - os: ubuntu-latest
            version: stable-v2.22.4
          - os: macos-latest
            version: default
          - os: ubuntu-latest
            version: default
          - os: macos-latest
            version: linked
          - os: ubuntu-latest
            version: linked
          - os: macos-latest
            version: nightly-latest
          - os: ubuntu-latest
            version: nightly-latest
    name: Multi-language repository
    if: github.triggering_actor != 'dependabot[bot]'
    permissions:
      contents: read
      security-events: read
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Prepare test
        id: prepare-test
        uses: ./.github/actions/prepare-test
        with:
          version: ${{ matrix.version }}
          use-all-platform-bundle: 'false'
          setup-kotlin: 'true'
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version || '>=1.21.0' }}
          cache: false
      - name: Install Python
        if: matrix.version != 'nightly-latest'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version || '3.13' }}
      - name: Use Xcode 16
        if: runner.os == 'macOS' && matrix.version != 'nightly-latest'
        run: sudo xcode-select -s "/Applications/Xcode_16.app"

      - uses: ./../action/init
        id: init
        with:
          db-location: ${{ runner.temp }}/customDbLocation
          languages: ${{ runner.os == 'Linux' && 'cpp,csharp,go,java,javascript,python,ruby'
            || '' }}
          tools: ${{ steps.prepare-test.outputs.tools-url }}

      - name: Build code
        run: ./build.sh

      - uses: ./../action/analyze
        id: analysis
        with:
          upload-database: false

      - name: Check language autodetect for all languages excluding Swift
        run: |
          CPP_DB=${{ fromJson(steps.analysis.outputs.db-locations).cpp }}
          if [[ ! -d $CPP_DB ]] || [[ ! $CPP_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for CPP, or created it in the wrong location."
            exit 1
          fi
          CSHARP_DB=${{ fromJson(steps.analysis.outputs.db-locations).csharp }}
          if [[ ! -d $CSHARP_DB ]] || [[ ! $CSHARP_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for C Sharp, or created it in the wrong location."
            exit 1
          fi
          GO_DB=${{ fromJson(steps.analysis.outputs.db-locations).go }}
          if [[ ! -d $GO_DB ]] || [[ ! $GO_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Go, or created it in the wrong location."
            exit 1
          fi
          JAVA_DB=${{ fromJson(steps.analysis.outputs.db-locations).java }}
          if [[ ! -d $JAVA_DB ]] || [[ ! $JAVA_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Java, or created it in the wrong location."
            exit 1
          fi
          JAVASCRIPT_DB=${{ fromJson(steps.analysis.outputs.db-locations).javascript }}
          if [[ ! -d $JAVASCRIPT_DB ]] || [[ ! $JAVASCRIPT_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Javascript, or created it in the wrong location."
            exit 1
          fi
          PYTHON_DB=${{ fromJson(steps.analysis.outputs.db-locations).python }}
          if [[ ! -d $PYTHON_DB ]] || [[ ! $PYTHON_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Python, or created it in the wrong location."
            exit 1
          fi
          RUBY_DB=${{ fromJson(steps.analysis.outputs.db-locations).ruby }}
          if [[ ! -d $RUBY_DB ]] || [[ ! $RUBY_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Ruby, or created it in the wrong location."
            exit 1
          fi

      - name: Check language autodetect for Swift on macOS
        if: runner.os == 'macOS'
        run: |
          SWIFT_DB=${{ fromJson(steps.analysis.outputs.db-locations).swift }}
          if [[ ! -d $SWIFT_DB ]] || [[ ! $SWIFT_DB == ${{ runner.temp }}/customDbLocation/* ]]; then
            echo "Did not create a database for Swift, or created it in the wrong location."
            exit 1
          fi
    env:
      CODEQL_ACTION_RESOLVE_SUPPORTED_LANGUAGES_USING_CLI: true
      CODEQL_ACTION_TEST_MODE: true
